header {
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #4b84b3;
    background-image: linear-gradient(45deg, #0d498d 2%, #0c3e77 50%, #051930 90%);
    color: #fbf5fc;
}
 
#search-btn {
    background-image: linear-gradient(45deg, #1269cc 15%, #1064c4 35%, #0d5ab3 50%);
}
 
#search-btn:hover {
    background-image: linear-gradient(45deg, #2a83e9 15%, #3385e2 35%, #2277d8 50%);
}
 
.card p {
    display: inline;
}
 
#uv-span {
    padding: 5px 10px 5px 10px;
}
 
.forecast-icon {
    max-width: 50px;
    max-height: 50px;
}
 
#forecast-card {
    padding: 15px 25px 15px 25px;
}
 
ul {
    list-style-type: none;
}
 
#search-history {
    margin: 20px;
}
 
.history-list {
    margin: 10px;
}
 
.list-btn {
    margin-bottom: 10px;
}
 
.error-mssg {
    color: rgb(218, 116, 0);
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}